@theme {
  --color-primary-100: #c4d9ae;
  --color-primary-200: #a7c586;
  --color-primary-300: #89b25e;
  --color-primary-400: #6b9044;
  --color-primary-500: #4d6731;
  --color-primary-600: #273f1e;
  --color-primary-700: #1e2813;

  /* optional default */
  --color-primary: var(--color-primary-500);

  --color-secondary-100: #e8efd3;
  --color-secondary-200: #d1dea7;
  --color-secondary-300: #bbce7b;
  --color-secondary-400: #a4be4f;
  --color-secondary-500: #89a13b;
  --color-secondary-600: #6b7d2e;
  --color-secondary-700: #4c5a21;

  /* optional default */
  --color-secondary: var(--color-secondary-400);
}